/* styles.css */

/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    background-repeat: no-repeat;
    background-position:0% 0%;
    background-size: cover;
    font-family: 'Balsamiq Sans', cursive; 
    background-attachment: fixed;
    margin:0;
}

/* Header styles */
header {
    background-color: #f4f4f4;
}

nav {
    background-color: #800080;
    overflow: hidden;
}

nav a {
    float: right; /* Align items to the right */
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

/* Main styles */
section {
    padding: 60px 0;
   
}

div{
    align-items: center;
}



.infoimg h1{
    text-align: center;
    background-color:  #CE8964;
    padding: 30px;
    margin-bottom: 10px;
}

.infoimg p{
    font-size: large;
    margin: 50px;
}

.infoimg h2{
    text-decoration: underline;
    font-weight: bolder;
   margin-left: 50px;
}

.infoimg ol{
    font-size: large;
    font-weight: bold;
    margin: 20px;
}

.boxes h1{
    text-align: center;
    background-color:  #832232;/* #832232 */
    color: #f1f1f1;
    padding: 30px;
    margin-top: -70px;
    margin-bottom: 10px;

}

.boxes p{
    font-size: large;
    margin: 50px;
}
table {
    border-collapse: collapse;
    width: 90%;
    margin: 50px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

.morediet{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 50px;
    margin-left: 50px;

}
.morediet p{
    font-size: large;
    margin: 50px;
}

.diet{
    background-color: #0dff00; /* Blue background color */
    color: #fff; /* White text color */
    border: none; /* Remove button border */
    padding: 10px 20px; /* Adjust padding to your preference */
    border-radius: 5px; /* Add rounded corners */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underlines on hover */
    display: inline-block;
    font-size: 16px; /* Font size */
    margin: 10px 0; 
    cursor: pointer; 
}

.diet:hover {
    background-color: #0056b3;
}

.header {
    text-align: center;
    background-color:  #832232;/* #832232 */
    color: #f1f1f1;
    padding: 30px;
    margin-top: -70px;
    margin-bottom: 10px;
}
.title {
    font-size: 28px;
    font-weight: bold;
    color: white;
}
.content {
    margin: 30px;
}
.author {
    font-style: italic;
    color: white;
}
.diet1 {
    text-align: center; /* Horizontally center the content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Vertically center the content */
    height: 75vh; /* Center within the viewport */
}
.diet2{
    display: inline-block; /* Contain the image within a block */
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
    max-height: 75%; /* Ensure the image doesn't exceed the container's height */
}

.button-menu {
    white-space: nowrap;
    overflow-x: auto; /* Enable horizontal scrolling */
    display: flex; /* Make buttons appear in a row */
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px;
}

.button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: pink;
}
footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}